<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @report.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @report.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Subscriber:</strong>
  <%= @report.subscriber %>
</p>

<p>
  <strong>List:</strong>
  <%= @report.list %>
</p>

<p>
  <strong>Account:</strong>
  <%= @report.account %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
