<%= form_for(@account, html: {class: 'ui form'}) do |f| %>
  <div class="ui form">
    <% if @account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
        <ul>
        <% @account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <strong><%= f.label :name %></strong>
    <div class="ui input fluid">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>

    <br>

    <strong><%= f.label :description %></strong>
    <div class="ui input fluid">
      <%= f.text_area :description, placeholder: "Description" %>
    </div>

      <%= f.hidden_field :phone_number, placeholder: "Phone Number", class: "js-account-phoneSelect-input" %>
    <br>


    <strong>Pick a Number</strong>
    <div class="ui buttons">
      <% i = 0 %>
      <% @numbers.sample(2).each do |n| %>
        <% number = number_to_phone(n.split("+1")[1], country_code: 1) %>
        <div class="ui button js-account-phoneSelect" data-number="<%= n %>"><%= number %></div>
        <% if i < 1 %>
          <div class="or"></div>
          <%= i = i+1 %>
        <% end %>
      <% end %>
    </div>

    <br><br>


    <%= f.submit class: "ui button fluid primary" %>
    <br>
  </div>
<% end %>
