<% content_for :title, @account.name %>

<div class="c-wrapper-content">
  <div class="ui one column centered grid">
    <div class="column">
      <div class="ui segment">
        <h1>Editing Account</h1>

        <%= render 'form' %>

        <br>
        <%= link_to 'Show', @account, class: "ui button" %>&nbsp;
        <%= link_to 'Back', accounts_path, class: "ui button basic" %>
      </div>
    </div>
  </div>
</div>
