<h1>Select an Account</h1>
<% @accounts.each do |account| %>
  <%= link_to account, class: "ui button fluid" do %>
    <h3><%= account.name %><br><small><%= account.phone_number %></small></h3>
  <% end %>
  <br>
<% end %>
