<% content_for :title, "New Account" %>

<div class="c-wrapper-content">
  <div class="ui one column centered grid">
    <div class="column">
      <div class="ui segment">
        <h1>New Account</h1>

        <%= render 'form' %>

        <%= link_to 'Back', accounts_path, class: "ui button basic" %>
      </div>
    </div>
  </div>
</div>
