<div class="c-wrapper-content c-wrapper-content--clean">
  <div class="c-header">
    <h1 class='c-header__title'>Dashboard</h1>
    <%# link_to 'Cancel', account_campaigns_path(@account), class: "ui button c-header__cta" %>
    </div>

  <div class='c-body'>
    <div class='c-body__inner'>
      <div class="ui one column centered grid">
        <div class="column">
          <div class="ui statistics">
            <div class="statistic">
              <div class="value">
                <%= @account.campaigns.count %>
              </div>
              <div class="label">
                Campaigns
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <%= @account.lists.count %>
              </div>
              <div class="label">
                Lists
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <%= @account.subscribers.count %>
              </div>
              <div class="label">
                Subscribers
              </div>
            </div>
          </div>
          <h2>Lists</h2>
          <% @account.lists.each do |l| %>
          <br>

            <fieldset>
              <label><strong><%= l.name %></strong></label>

              <% l.subscribers.each do |s| %>
                <div>- <%= s.name %> <em><%# s.phone_number %></em></div>
              <% end %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
