<%= form_for([@account, @list], html: {class: 'ui form'}) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong><%= f.label :name %></strong>
  <%= f.text_field :name, placeholder: "name" %>
  <br><br>
  <strong><%= f.label :description %></strong>
  <%= f.text_area :description, placeholder: "Description" %>

  <br><br>
  <%= f.submit class: "ui button fluid primary" %>
<% end %>
