<% content_for :title, "#{ @account.name } > Lists > #{ @list.name }" %>

<div class="ui container">
  <div class="ui three column centered grid">
    <div class="column">
      <div class="ui segment">
        <h1>Editing List</h1>

        <%= render 'form' %>

        <%= link_to 'Show', account_list_path(@account, @list), class: "ui button" %>&nbsp;
        <%= link_to 'Back', account_lists_path(@account), class: "ui button basic" %>
      </div>
    </div>
  </div>

</div>
