<div class="c-wrapper-content c-wrapper-content--clean">
  <div class="c-header">
    <h1 class='c-header__title'>Lists</h1>
    <%= link_to 'New List', new_account_list_path(@account), class: "ui button primary c-header__cta" %>
    </div>

  <div class='c-body'>
    <div class='c-body__inner'>
      <div class="ui one column centered grid">
        <div class="column">

          <table class="ui very basic collapsing padded celled table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @lists.each do |list| %>
                <tr>
                  <td><%= list.name %></td>
                  <td><%= list.description %></td>
                  <td><%= link_to 'Show', account_list_path(@account, list) %></td>
                  <td><%= link_to 'Edit', edit_account_list_path(@account, list) %></td>
                  <td><%= link_to 'Destroy', account_list_path(@account, list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
