<% content_for :title, "#{@account.name} > Lists > New" %>

<div class="c-wrapper-content">
  <div class="ui three column centered grid">
    <div class="column">
      <div class="ui segment">
        <h1>New List</h1>

        <%= render 'form' %>

      </div>
      <%= link_to 'Back', account_lists_path(@account), class: "ui button fluid basic" %>

    </div>
  </div>
</div>
