<% content_for :title, "#{ @account.name } > Lists > #{ @list.name }" %>

<div class="c-wrapper-content">
  <div class="ui centered grid">
    <div class="six wide column">
      <div class="ui segment center">
        <h1>Lists > <%= @list.name %></h1>
        <br>
        <%= @list.description %>
      </div>
      <div class="ui buttons fluid">
        <%= link_to 'Edit', edit_account_list_path(@account, @list), class: 'ui button primary' %>
        <%= link_to 'Back', account_lists_path(@account), class: 'ui button' %>
      </div>
    </div>
    <div class="ten wide column">
      <div class="ui divided list">
        <% @subscribers.each do |s| %>
          <div class="item">
            <strong><%# s.phone_number %></strong>
            &nbsp;&mdash;&nbsp;
            <%= s.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
