<!DOCTYPE html>
<html>
<head>
  <title>Pushly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="c-select">
  <div class="ui container">
    <div class="ui two column centered grid">
      <div class="column">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
