<div class="ui container">
  <div class="ui three column centered grid">
    <div class="column">
      <div class="ui segment">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="ui fluid input">
            <% f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>

            &nbsp;&nbsp;

            <% f.label :last_name %>
            <%= f.text_field :last_name, placeholder: "Last Name" %>
          </div>

          <br>

          <div class="ui fluid input">
            <% f.label :username %>
            <%= f.text_field :username, placeholder: "Username" %>

            &nbsp;&nbsp;

            <% f.label :phone_number %>
            <%= f.phone_field :phone_number, placeholder: "Your Phone Number" %>
          </div>

          <br>

          <div class="ui fluid input">
            <% f.label :email %>
            <%= f.email_field :email, placeholder: "Email" %>
          </div>

          <br>

          <div class="ui fluid input">
            <% f.label :password %>
            <!-- <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %> -->
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <br>

          <div class="ui fluid input">
            <% f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Again" %>
          </div>

          <br>

          <div class="actions">
            <%= f.submit "Sign up", class: "ui button primary fluid" %>
          </div>
        <% end %>
      </div>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
