<div class="c-wrapper-content">
  <div class="ui one column centered grid">
    <div class="column">
      <div class="ui segment center">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Name:</strong>
          <%= @subscriber.name %>
        </p>

        <p>
          <strong>Bio:</strong>
          <%= @subscriber.bio %>
        </p>

        <p>
          <strong>Phone number:</strong>
          <%= @subscriber.phone_number %>
        </p>

        <p>
          <strong>Uuid:</strong>
          <%= @subscriber.uuid %>
        </p>

        <p>
          <strong>Subscriptions:</strong>
          <fieldset>
            <% @subscriber.lists.each do |l| %>
              <div>- <%= l.name %> (<%= l.account.name %> <em>by <%= l.account.user.name %></em>)</div>
            <% end %>
          </fieldset>
        </p>

          <%= form_for @subscription do |s_new| %>
            <%= s_new.hidden_field :subscriber_id, value: @subscriber.id %>
            <%= s_new.collection_select(:list_id, List.all, :id, :name, prompt: true) %>
            <%= s_new.submit %>
          <% end %>

        <%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
        <%= link_to 'Back', subscribers_path %>
      </div>
    </div>
  </div>
</div>
