<%= form_for [@account, @campaign], html: { class: 'ui form' } do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='ui two column grid'>
  <div class='column'>
    <div class="field">
      <%= f.label :name, "Your Campaign's Name" %>
      <%= f.text_field :name, placeholder: 'Just something for you to remember it by.' %>
    </div>

    <div class="field">
      <%= label :list_id, "Pick a List" %>
      <%= collection_select(:campaign, :list_id, @account.lists, :id, :name, {prompt: true}, {class: 'ui fluid dropdown'}) %>
    </div>
  </div>
  <div class='column'>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, rows: '5', placeholder: 'What\'s this campaign about?' %>
    </div>
  </div>
</div>
<br>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message, placeholder: 'What do you want to say to everyone?' %>
  </div>

  <br><br>

  <%= f.submit class: "ui button fluid primary" %>
<% end %>
