<div class="c-wrapper-content c-wrapper-content--clean">
  <div class="c-header">
    <h1 class='c-header__title'>Edit Campaign</h1>
    <!-- <%= link_to 'Cancel', account_campaigns_path(@account), class: "ui button c-header__cta" %> -->
    <% if @campaign.sent? %>
      <%= link_to 'Campaign Sent', '#',class: 'ui button primary disabled c-header__cta' %>
    <% else %>
      <div class='c-header__cta'>
        <%= button_to 'Send Campaign', { action: "send_it", id: @campaign.id }, data: { confirm: 'Are you sure? There is no undoing this.' }, method: :post, class: 'ui button primary c-header__cta' %>
      </div>
    <% end %>
    </div>

  <div class='c-body'>
    <div class='c-body__inner'>
      <%= render 'form' %>
    </div>
  </div>
</div>





<!-- <% unless @campaign.sent? %>
  <%= button_to 'Send Campaign', { action: "send_it", id: @campaign.id }, data: { confirm: 'Are you sure? There is no undoing this.' }, method: :post, class: 'ui button primary' %>
<% end %>



<div class="c-wrapper-content">
  <div class="ui one column centered grid">
    <div class="column">
      <div class="ui segment">
        <h1>Editing Campaign</h1>

        <%= render 'form' %>

        <%= link_to 'Show', [@account, @campaign], class: "ui button" %>&nbsp;
        <%= link_to 'Back', account_campaigns_path(@account), class: "ui button basic" %>
      </div>
    </div>
  </div>
</div> -->
