<% content_for :title, "#{ @account.name } > Campaigns" %>

<div class="c-wrapper-content c-wrapper-content--clean">
  <div class="c-header">
    <h1 class='c-header__title'>Campaigns</h1>
    <%= link_to "New Campaign", new_account_campaign_path(@account), class:'ui button primary c-header__cta' %>
    </div>

  <div class='c-body'>
    <div class='c-list'>
      <% @campaigns.each do |campaign| %>
        <div class='c-listItem'>
          <%= link_to edit_account_campaign_path(@account, campaign) do %>
            <h2><%= campaign.name %></h2>
          <% end %>
          <p><%= campaign.created_at.strftime("%A, %B %e, %Y at %l:%M %p") %> &mdash; <%= campaign.list.name %>
          <blockquote><%= campaign.message %></blockquote>
        </div>
      <% end %>
    </div>
  </div>
</div>
