<div class="c-wrapper-content c-wrapper-content--clean">
  <div class="c-header">
    <h1 class='c-header__title'>New Campaign</h1>
    <%= link_to 'Cancel', account_campaigns_path(@account), class: "ui button c-header__cta" %>
    </div>

  <div class='c-body'>
    <div class='c-body__inner'>
      <%= render 'form' %>
    </div>
  </div>
</div>
