<% content_for :title, "#{ @account.name } > Campaigns > #{ @campaign.name }" %>


<div class="c-wrapper-content">
  <div class="ui centered grid">
    <div class="column">
      <div class="ui segment">
        <h1><%= @campaign.name %></h1>
        <p><em><%= @campaign.description %></em></p>

        <% if @campaign.sent? %>
          <strong><%= @campaign.sent_on.strftime("Sent %A, %B %e, %Y at %l:%M %p")%></strong>
        <% end %>
        <br>

        <div class="ui red segment">
          <%= @campaign.message %>
        </div>

        <br>

        <%= link_to 'Edit', edit_account_campaign_path(@account, @campaign), class: 'ui button basic' %>
        <% unless @campaign.sent? %>
          <%= button_to 'Send Campaign', { action: "send_it", id: @campaign.id }, data: { confirm: 'Are you sure? There is no undoing this.' }, method: :post, class: 'ui button primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <%= link_to 'Back', account_campaigns_path(@account), class: 'ui button basic' %>

</div>
