<div class="ui container">
  <div class="ui three column centered grid">
    <div class="column">
      <div class="ui segment">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="ui fluid input">
            <% f.label :email %>
            <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
          </div>

          <br>

          <div class="ui fluid input">
            <% f.label :password %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <br>

          <% if devise_mapping.rememberable? -%>
            <div class="ui toggle checkbox">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <br><br>

          <div class="actions">
            <%= f.submit "Log in", class: "ui primary button fluid" %>
          </div>
        <% end %>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
