<div class='c-convolist'>
  <div class='c-convolist-search'></div>

  <ul class="c-convolist-list">
    <% @conversations.each do |conversation| %>
      <%= convolist_item(conversation, @account) %>
    <% end %>
  </ul>
</div>
