<% content_for :title, "#{ @account.name } > Conversations" %>

<script type="text/javascript">
  $(document).on('page:change', function() {


    // Pushly.io.on('messages:new', function (data) {
    //   Pushly.setCurrentRoom();
    //   console.log(data.message);
    //   // var msg = JSON.parse(data.message);
    //
    //   if (data.room == Pushly.current_room) {
    //     html = "<div class='c-convo-message c-convo-message--" + msg.sent_by + " data-content='" + msg.created_at + "' data-variation='tiny'>" + "<p>" + msg.message + "</p>" +"</div>";
    //     $(".c-convo-body-container").append(html);
    //   }
    // });

    // init();

    // socket.on('user:broadcast:start', function(data) {
    //   console.log(data);
    //   addUserToMap(data, { unknownRelationship: true });
    // });
    //
    // socket.on('user:broadcast:stop', function(data) {
    //   removeUserFromMap(data);
    // });
    //
    //
    // $('.js-setOffline').click(function(e) {
    //   e.preventDefault();
    //
    //   $.ajax({
    //     url: window.location.protocol + "//" + window.location.host + '/users/set_offline',
    //     method: "POST",
    //     success: function(res) {
    //       console.log("User successfully offline: " + JSON.parse(res));
    //     }
    //   });
    // });
  });
</script>
<div class="c-wrapper-content c-wrapper-content--clean">
  <%= render "convolist" %>

  <div class="c-convo c-convo--words">
    <div class="c-convo-words">
      <h3>Select a conversation</h3>
    </div>
  </div>
</div>
</div>
