<% content_for :title, "#{ @account.name } > conversations > #{ @conversation.subscriber.name }" %>

<div class="c-wrapper-content c-wrapper-content--clean">
  <%= render "convolist" %>
  <div class="c-convo">
    <!-- <div class='c-convo-top'>
      <h1><%= @conversation.subscriber.name %></h1>
    </div> -->
    <div class='c-convo-body js-convo-outer'>
      <div class='c-convo-body-container js-convo-inner'>
        <% @messages.each do |m| %>
          <div class="c-convo-message c-convo-message--<%= m.sent_by %>" data-content="<%= m.created_at.strftime("Sent %A, %B %e, %Y at %l:%M %p") %>" data-variation="tiny">
            <p><%= m.message %></p>
            <!-- <span class='c-convo-message-meta'><%= m.created_at.strftime("Sent %A, %B %e, %Y at %l:%M %p") %></span> -->
          </div>
        <% end %>
      </div>
    </div>
    <div class='c-convo-bottom'>
      <div class='c-convo-bottom_textInput placeholder js-convo-response' contenteditable='true' placeholder='Start typing here...'>
      </div>
      <!-- <span class='placeholder'>Start typing here...</span> -->

      <!-- <%= form_tag('/quicksend', { remote: true, class: 'c-convo-bottom_form js-convo-form'}) do %>
        <%= hidden_field_tag "message[subscriber_id]", @conversation.subscriber_id %>
        <%= hidden_field_tag "message[account_id]", @conversation.account_id %>
        <%= text_area_tag "message[message]", "", { placeholder: 'Start Typing...' } %>
        <%= hidden_field_tag "message[message]", nil, class: 'js-convo-hiddenInput' %>
        <%= submit_tag "Send" %>
      <% end %> -->
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {

    $('.js-convo-response').focus(function() {
      $(this).removeClass('placeholder');

      $(this).keypress(function(e) {
        if (e.keyCode === 13 && e.shiftKey === false) {
          e.preventDefault();
          msg = $(this).text();

          $(this).blur().text("");

          $.ajax({
            url: '/quicksend',
            method: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
              message: {
                account_id: Pushly.current_conversation.account.id,
                subscriber_id: Pushly.current_conversation.subscriber.id,
                message: msg
              }
            }),
            success: function(res) {
              console.log('message sent!');
              console.log(res);
            }
          });
        }
      });
    });

    $('.js-convo-response').focusout(function() {
      if ($(this).text().trim() == "" || null ) {
        $(this).addClass('placeholder');
      }
    });

    Pushly.setCurrentRoom();
    Pushly.checkNotificationAbility();
    
    Pushly.obj.chatWrapper.scrollTop(1E10);

    Pushly.io.on('messages:new', function (data) {
      var data = JSON.parse(data);
      if (data.room == Pushly.current_room) {
        console.log("rooms match");
        html = "<div class='c-convo-message c-convo-message--" + data.message.sent_by + " data-content='" + data.message.created_at + "' data-variation='tiny'>" + "<p>" + data.message.message + "</p>" +"</div>";
        $(".c-convo-body-container").append(html);

        Pushly.obj.chatWrapper.scrollTop(1E10);
        // Pushly.obj.chatWrapper.animate({"scrollTop": 1E10}, 1400, "easeOutQuint");

        if (Pushly.notifyAbility) {
          Notification.requestPermission(function() {
            var title = 'New Text From: ' + data.message.sent_by,
                options = {
                  body: data.message.message,
                  tag: 'preset',
                  icon: 'http://www.audero.it/favicon.ico'
               };

            var notify = new Notification(title, options);
          });
        }
      }
    });
  });
</script>
