<% content_for :title, "#{ @account.name } > Quick Send" %>

<div class="c-wrapper-content">
  <div class="ui one column centered grid">
    <div class="column">
      <div class="ui segment">
        <%= form_tag({ controller: "messages", action: "quicksend_create"}, html: { class: 'ui form' }) do |f| %>
          <% if @message.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</h2>

              <ul>
              <% @message.errors.full_messages.each do |m| %>
                <li><%= m %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= collection_select(:message, :subscriber_id, @account.subscribers, :id, :name, prompt: true) %>
          </div>

          <div class="field">
            <%= f.label :message %>
            <%= f.text_area :message %>
          </div>

          <br><br>

          <%= f.submit class: "ui button fluid primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
