@import "semantic-ui";

$grey: #f5f5f5;
$white: #ffffff;
$black: #222222;
$red: #ff3c3c;

@mixin trans() {
  transition: all 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.c-nav-top {
  position: absolute;;
  top: 0;
  left: 210px;
  right: 0;
  background: #ccc;
  // height: 102px;

  .c-nav-top-one {
    background: $red;
    color: $white;

    .c-navone__add,
    .c-navone__logo,
    .c-navone__user {
      display: inline-block;
      padding: 18px;
      width: 33%;
    }

    .c-navone__add {
      float: left;
    }

    .c-navone__logo {
      padding: 11px 0;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        width: 100px;
      }
    }

    .c-navone__user {
      float: right;
      text-align: right;
    }
  } // end .c-nav-top-one

  // .c-nav-top-two {
  //   background: $black;
  //   color: $white;
  //
  //   h3 {
  //     padding: 15px;
  //   }
  // }
} // .c-nav-top

.c-nav-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: $black;
  min-height: 600px;

  &__menu {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    span.label {
      display: block;
      width: 190px;
      margin-left: 20px;
      margin-bottom: 10px;
      padding-bottom: 3px;
      border-bottom: 1px solid white;
      box-sizing: border-box !important;

      color: white;
      text-transform: uppercase;
      font-size: 10px;
      opacity: .3;
    }

    li {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;

      &.active a {
        border-left-color: $red;
        background: lighten($black, 15%);
        color: $white;
      }

      &:hover a {
        background: lighten($black, 20%);
        color: $white;
      }

      a {
        width: 210px;
        padding: 15px 20px 15px 17px;
        margin: 0;
        display: block;
        color: $grey;
        border-left: 3px solid $black;

        i {
          display: inline-block;
          margin-right: 15px;
        }
      } // end a
    } // end li
  } // end ul

  &__profile {
    width: 210px;
    margin: 55px 0;
    text-align: center;
    color: $white;

    .avatar {
      width: 92px;
      height: 92px;
      border-radius: 1000px;
      padding: 5px;
      border: 1px solid rgba(255,255,255,0.3);
    }
    .name {
      margin: 15px 0 0;
    }
    .phone {
      margin-top: 1px;
      opacity: 0.3;
      font-size: 10px;
    }
  } // end __profile

  &__footer {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 210px;
    position: absolute;
    bottom: 20px;

    li {
      &:first-child a {
        text-align: right;
        border-right: 1px solid rgba($white, 0.3);
      }
      &:last-child a {
        text-align: left;
        i { margin-left: 0.25rem; }
      }
      a {
        display: inline-block;
        width: 50%;
        float: left;
        font-size: 20px;
        padding: 10px;
        color: rgba($white, 0.3);
      }

      &:hover a,
      &.active a {
        color: $red;
      }
    } // end li
  } // end __footer
} // end .c-nav-left



.c-wrapper {
  position: absolute;
  left: 210px;
  top: 55px;
  bottom: 0;
  right: 0;
  min-height: 545px;


  overflow-y: scroll;
  overflow-x: hidden;

  background: $grey;

  .c-wrapper-content {
    padding: 20px;

    &--clean { padding: 0; }
  }
}


.c-select {
  margin-top: 150px;
  background: $grey;

}

._menu--right {
  left: auto !important;
  right: 0;
}

.ui.segment {
  box-shadow: none !important;
}

.ui.primary {
  background: $red !important;

  &:hover {
    background: darken($red, 20%) !important;
  }

  &:active {
    background: darken($red, 30%) !important;
  }
}

.button_to {
  display: inline-block !important;
}


.c-convolist {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 545px;
  margin: 0;
  padding: 0;
  width: 300px;
  background: #ffffff;
  border-right: 1px solid rgba(0,0,0,0.15);

  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &-search {

  } // end search

  &-list {
    margin: 0;
    padding: 0;
    width: 300px;
    list-style: none;

    li {
      border-bottom: 1px solid rgba($black,0.1);
      border-right: 1px solid rgba($black,0);
      width: 100%;
      @include trans;

      &:hover a {
        background: darken($white, 10%) !important;
        border-left-color: darken($white, 10%);
        @include trans;
      }
      &.active a {
        background: darken($white, 7%);
        border-left-color: $red;
        @include trans;
      }

      a {
        padding: 20px;
        display: inline-block;
        width: 100%;
        border-left: 4px solid white;
        margin: 0;

        .name,
        .number,
        .message {
          display: block;
          color: $black;
        }
        .intials {
          display: inline-block;
          width: 50px;
          height: 50px;
          margin: 0;
          margin-right: 10px;
          padding: 9px 0 0 10px;
          float: left;

          background: rgba(0,0,0,0.1);
          border-radius: 1000px;
          color: white;
          letter-spacing: -2px;
          line-height: 1;
        }
        .name {
          margin-top: 8px;
          font-size: 16px;
        }
        .number {
          margin: 2px 0 5px 0;
          text-transform: uppercase;
          font-size: 12px;
          opacity: 0.5;
        }
        .message {
          font-style: italic;
        }
      } // end a
    } // end li
  } // end &-list
} // end .c-convolist

.c-convo {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  min-height: 545px;

  overflow-y: hidden;

  &-top {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(255,255,255,0.95);
    height: 50px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    z-index: 99;

    h1 {
      margin: 15px;
      padding: 0;
      line-height: 1;
      font-size: 20px;
      font-weight: lighter;
    }
  } // end &-top

  &-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 545px;
    overflow-y: scroll;
    padding: 30px 0 70px;

    &-container {
      width: 100%;
      max-width: 600px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;

      .c-convo-message {
        display: block;
        width: 70%;
        margin: 7px 0;
        @include trans;

        p {
          margin: 0;
          background: white;
          border: 1px solid rgba($black, 0.1);
          padding: 15px 20px;
          line-height: 1.5;
          border-radius: 10px;
        }

        span {
          display: none;
          margin: 7px 20px;
          color: $black;
          text-transform: uppercase;
          font-size: 10px;
          opacity: .3;
          @include trans;
        } // end meta

        &--account {
          float: right;

          p {
            background-color: $red;
            border-color: $red;
            color: $white;
          }
          span { float: right; }
        }
        &--subscriber { float: left; }

        &:hover {
          @include trans;

          span {
            display: block;
            @include trans;
          }
        }
      } // end &.message
    } // end &-container
  } // end .c-convo-body

  &-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    max-height: 200px;
    min-height: 50px;
    overflow-y: scroll;
    background: $white;
    border-top: 1px solid rgba($black, 0.1);

    &_textInput {
      height: 100%;
      width: 100%;
      max-width: 600px;
      margin: 6px auto 6px;
      padding: 10px 30px;

      &.placeholder::before{
        content: attr(placeholder);
        display: block; /* For Firefox */
      }

      &:focus {
        outline: none;
      }
    }
    // textarea {
    //   width: 100%;
    //   height: 100%;
    //   // max-width: 600px;
    //   margin: 0 auto;
    //   display: block;
    //   outline: none;
    //   border: none;
    //   font-size: 16px;
    //   padding: 10px 85px;
    //   line-height: 1.6;
    // }
  }

  &--words {
    .c-convo-words {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
} // end .c-convo

.c-header {
  width: 100%;
  padding: 40px;

  &__title {
    display: inline-block;
    line-height: 1;
    margin: 0;
  }

  &__cta {
    float: right;
    display: inline-block;
  }
}

.c-body {
  margin: 0;
  min-height: 200px;
  width: 100%;

  background: $white;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  &__inner {
    padding: 40px;
  }
}


.c-list {
  .c-listItem {
    padding: 40px 40px 40px 20px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

.c-alert {
  position: absolute !important;
  top: 10px !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  z-index: 9999 !important;
  color: white !important;
}
